In [1]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt

In [2]:
p = "../data/population/Population and migration by postal code (1998-2023).csv"
df = pd.read_csv(p, sep=";", encoding="utf-8-sig")
df.head()

C:\Users\EduardCP\AppData\Local\Temp\ipykernel_3788\233387193.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(p, sep=";", encoding="utf-8-sig")

,Geslacht,Migratieachtergrond,Postcode,Perioden,Bevolking (aantal)
0,Totaal mannen en vrouwen,Totaal,Nederland,1998,15654192.0
1,Totaal mannen en vrouwen,Totaal,Nederland,1999,15760225.0
2,Totaal mannen en vrouwen,Totaal,Nederland,2000,15863943.0
3,Totaal mannen en vrouwen,Totaal,Nederland,2001,15987074.0
4,Totaal mannen en vrouwen,Totaal,Nederland,2002,16105283.0

In [3]:
df = df.replace(".", np.nan)
for c in df.columns:
    df[c] = pd.to_numeric(df[c], errors="ignore")
df.dtypes.head(15)

C:\Users\EduardCP\AppData\Local\Temp\ipykernel_3788\3491480151.py:3: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[c] = pd.to_numeric(df[c], errors="ignore")

Geslacht                object
Migratieachtergrond     object
Postcode                object
Perioden                 int64
Bevolking (aantal)     float64
dtype: object

In [4]:
df.shape, df.isna().mean().sort_values(ascending=False).head(15)

((953784, 5),
 Bevolking (aantal)     0.014182
 Geslacht               0.000000
 Migratieachtergrond    0.000000
 Postcode               0.000000
 Perioden               0.000000
 dtype: float64)

In [5]:
num = df.select_dtypes(include=["number"])
num.describe().T.sort_values("mean", ascending=False).head(15)

,count,mean,std,min,25%,50%,75%,max
Bevolking (aantal),940257.0,2139.896771,114138.917814,0.0,10.0,95.0,760.0,17811291.0
Perioden,953784.0,2010.500000,7.500004,1998.0,2004.0,2010.5,2017.0,2023.0

In [13]:
df

,Geslacht,Migratieachtergrond,Postcode,Perioden,Bevolking (aantal)
0,Totaal mannen en vrouwen,Totaal,Nederland,1998,15654192.0
1,Totaal mannen en vrouwen,Totaal,Nederland,1999,15760225.0
2,Totaal mannen en vrouwen,Totaal,Nederland,2000,15863943.0
3,Totaal mannen en vrouwen,Totaal,Nederland,2001,15987074.0
4,Totaal mannen en vrouwen,Totaal,Nederland,2002,16105283.0
...,...,...,...,...,...
953779,Totaal mannen en vrouwen,Oceanië,9999,2019,0.0
953780,Totaal mannen en vrouwen,Oceanië,9999,2020,0.0
953781,Totaal mannen en vrouwen,Oceanië,9999,2021,0.0
953782,Totaal mannen en vrouwen,Oceanië,9999,2022,0.0
953783,Totaal mannen en vrouwen,Oceanië,9999,2023,0.0